.button {
    width: 150px;
    height: 30px;
    background-color: green;
    border: 1px solid white;
    border-radius: 5px;
    align-self: center;
    color: white;
  }
  
  .button:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
  }
  
  .input {
    height: 80px;
  }
  